{% extends 'blog/base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="post">
            {% if user.is_authenticated %}
            <a class="btn btn-default borrar" href="{% url 'post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn btn-default editar" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            {% endif %}
            <h2 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a> >></h2>
            
            <div class="text">
                {{post.text}}
            </div>
            <div class="author">
                {% if post.published_date %}
                Publicado por <b class="capitalize">{{post.author}}</b> el <span class="date">{{post.published_date}}</span>
                {% else %}
                <b>Borrador</b> creado por <b class="capitalize">{{post.author}}</b> el <span class="date">{{post.created_date}}</span> <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publicar</a>
                {% endif %}
            </div>
        </div>
        <hr />
        <a class="btn btn-default addcomment" href="{% url 'add_comment_to_post' pk=post.pk %}">Agregar Comentario</a>
        {% for comment in post.comments.all %} {% if user.is_authenticated or comment.approved_comment %}
        <div id="comment{{comment.pk}}" class="comment">

            <div class="hcomment">
            {% if user.is_authenticated %}
            
                <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"
                ><span class="glyphicon glyphicon-remove"></span
                ></a>
                {% endif %} {% if not comment.approved_comment %}
                <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"
                ><span class="glyphicon glyphicon-ok"></span
                ></a>
            
            {% endif %}
            </div>
            

            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
            <div class="date author">{{ comment.created_date }}</div>
        </div>
            {% endif %}{% empty %}
            <p>Sin comentarios :(</p>
        {% endfor %}
    </div>
</div>
{% endblock %}